body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-4 {
  display: flex;
  background-color: #162238;
  height: 85vh;
}

.image-wrapper {
  width: 40%;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-text {
  position: absolute;
  max-width: 30rem;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 0 5rem 2rem 5rem;
  font-size: 1.75rem;
  line-height: 1.25;
}
.sm-text{
    font-size: 0.687rem;
    padding-left: 2px;
    letter-spacing: 0.25em;
    margin-top: 2rem;
    line-height: 1.5;
    font-weight: 300;
}
.text-wrapper {
  display: flex;
  flex-direction: column;  
  width: 60%;
  align-items: center;
  text-align: center;
  padding: 5rem 2rem;
}
.section-4 .text-wrapper > *:not(.line){
    width: 70%;
}
.line{
    width: 1px;
    height: 3rem;
    background-color: #fff;
    opacity: 0.5;
}
.section-4 .text-wrapper p:first-of-type{
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #fff;
    opacity: 0.5;
    margin: 1rem 0;
}
.section-4 .text-wrapper h2{
    color: #fff;
    line-height: 1;
    font-weight: 400;
    font-size: 3rem;
}
.section-4 .text-wrapper p:last-of-type{
    font-size: 1.06rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 2px;
}

.section-4 .text-wrapper a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 0.68rem;
    margin-top: 2rem;
}
.section-5 {
  display: flex;
  background-color: #fff;
}
.font-lebeaune{    
    font-family: lebeaune,serif;
}

.font-calluna{
    font-family: calluna,serif
}
.font-caslons{
    font-family: caslons-egyptian,sans-serif
}


